.chat-main
  .chat-main__group-info
    .left-boxes 
      .left-contens 
        = @group.name
        .left-point
          menber:
          - @group.users.each do |user|
            .left-new
              = user.name
          
    = link_to edit_group_path(@group) do             
      .right-boxes edit
  .chat-main__massage-list
    = render @messages
    .message-data
      .message-data__name
        .user 
        .date 
      .message-data__comment  
  .chat-main__massage-form
    = form_for [@group, @message] do |f|
      .comment-box
        = f.text_field :content, class: 'comment-box__text', placeholder: 'type a message' 
        = f.label :image, class: 'comment-box__pic' do
          = icon('fas', 'image' , class: 'comment-box__pic--text') 
          = f.file_field :image , class: "comment-box__pic--text__file"
      = f.submit "Send", class: "send-box" 
    
    
    
    
    
    -# %form.new_comment
    -#   .comment-box
    -#     %input{type: "text",class: "comment-box__text",placeholder: 'type a message' }
    -#     %label{class: 'comment-box__pic'}
    -#       = icon('fas', 'image' ,clsss: 'comment-box__pic--text')
    -#       %input{type: "file", class: "comment_box_pic_file"}
    -#   %input{type: "submit", class:"send-box"}
    
 
      
      
      
      
      
      
      
     
       
        
        
      

    
    
    
    
    
    
    
    
 
    
    
    
    
    
    
  


       
      