.chat-main
  .chat-main__group-info
    .left-boxes 
      .left-contens 
        = @group.name
        .left-point
          menber:
          - @group.users.each do |user|
            .left-new
              = user.name
          
    = link_to edit_group_path(@group) do             
      .right-boxes edit
  .chat-main__massage-list
    .message-data
      .message-data__name
      .message-data__comment 
      .messages
        = render @messages  
  .chat-main__massage-form
    .form
      = form_for [@group, @message],html: {class: 'comment-box'} do |f|
        = f.text_field :content, class: 'comment-box__text', placeholder: 'type a message' do
          = f.label :image, class: 'comment-box__pic' do
            = icon('fas', 'image' ,clsss: 'comment-box__pic--text') do
              = f.file_field :image
        = f.submit "Send", class:"send-box" 
       
       
        
        
      

    
    
    
    
    
    
    
    
 
    
    
    
    
    
    
  


       
      